{% load tz %}

<!DOCTYPE html>
<html>
<head>
	<title>{{ tournament.name }} - bracket challenge</title>
	{% include "bracket/header.html" %}
</head>

<div style="margin-bottom:5px;">Too late! The deadline for submissions ({{ tournament.deadline|utc|date:'d N Y, H:i' }} UTC) has passed.</div>
<div style="margin-bottom:5px;"><a href="./leaderboard">Bracket challenge leaderboard</a>. <a href="./tournament_results">Tournament results</a>.</div>
<div>{{ tournament.additional_text|safe }}</div>
