<link rel="shortcut icon" href="/bracket/favicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="/bracket/favicon.ico">
<style>
	body {
		font-family: sans-serif;
	}
	td.winner {
		font-weight: bold;
	}
	td.W {
		font-weight: bold;
	}
	a {
		text-decoration: none;
	}
</style>
