<html>
<head>
	<title>HotS bracket challenges</title>
	{% include "bracket/header.html" %}
</head>
<body>
	{% if tournament_list %}
		<ul>
		{% for tournament in tournament_list %}
			<li><a href="{{ tournament.shortname }}/">{{ tournament.name }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No tournaments are available.</p>
	{% endif %}
</body>
</html>
