<html>
{% load tz %}
<head>
	<title>Leaderboard - {{ tournament.name }} - bracket challenge</title>
	{% include "bracket/header.html" %}
</head>
<body>
{% if submit_list %}
	<div style="margin-bottom:8px;"><b>{{ submit_list|length }}</b> brackets submitted for {{ tournament.name }}.</div>
	<table>
	{% for submit, place in submit_list %}
		<tr>
			<td style="text-align:right;">{{ place }}</td>
			<td><a href="../submit/{{ submit.nick }}/">{{ submit.nick }} - <b>{{ submit.score }}</b> points - submitted on {{ submit.time_sent|utc|date:'d N Y, H:i' }} UTC</a></td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	<p>No submits yet.</p>
{% endif %}
</body>
</html>
