{% load tz %}

<!DOCTYPE html>
<html>
<head>
	<title>{{ submit.nick }}'s submit - {{ tournament.name }} - bracket challenge</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script>
		var page = "show_submit";
		{% include "bracket/bracket.js" %}
	</script>
	{% include "bracket/header.html" %}
</head>
<body>
	<div style="margin-bottom:5px;">Submitted by {{ submit.nick }} on {{ submit.time_sent|utc|date:'d N Y, H:i' }} UTC.
   {% if can_change %}
	  <br /> If you want to change your submission, click <a href="../../">here</a>.
   {% endif %}
   </div>
   <div style="margin-bottom:5px;">Current score: <b>{{ submit.score }}</b>. Scores were last updated by the admin on: {{ tournament.last_results_update|utc|date:'d N Y, H:i' }}.</div>
   <div style="margin-bottom:5px;"><a href="../../leaderboard">Bracket challenge leaderboard</a>. <a href="../../tournament_results">Tournament results</a>.</div>
	<div style="margin-bottom:5px;">{{ tournament.scoring|safe }}</div>
	<div style="margin-bottom:8px;">If you have found a bug, please <a href="https://www.reddit.com/message/compose/?to=lerhond">send me a PM</a>.</div>
	<table border="0" cellpadding="3" cellspacing="0" style="font-size:90%;margin:1em 2em 1em 1em;">
	<tbody>
	<tr>
	<td width="1"></td>
	<td width="auto" style="min-width:150px;"></td>
	<td width="50"></td>
	<td width="20"></td>
	<td width="20"></td>
	<td width="auto" style="min-width:150px;"></td>
	<td width="50"></td>
	<td width="20"></td>
	<td width="20"></td>
	<td width="auto" style="min-width:150px;"></td>
	<td width="50"></td>
	<td width="20"></td>
	<td width="20"></td>
	<td width="auto" style="min-width:150px;"></td>
	<td width="50"></td>
	</tr>
	<tr>
	<td height="6"></td>
	<td style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 1" id="1_1">&nbsp;</td>
	<td style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="1_1_res">&nbsp;</td>
	<td style="text-align:center;border-width:0 0 2px 0; border-style:solid;border-color:black;">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 1" id="1_2">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="1_2_res">&nbsp;</td>
	<td rowspan="6" style="text-align:center;border-width:2px 2px 2px 0; border-style:solid;border-color:black;">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" style="text-align:center;border-width:0 0 2px 0; border-style:solid;border-color:black;">&nbsp;</td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 7" id="7_1">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="7_1_res">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border-width:0 0 2px 0; border-style:solid;border-color:black;">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" colspan="3"></td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" style="text-align:center;border-width:2px 0 0 0; border-style:solid;border-color:black;">&nbsp;</td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 7" id="7_2">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="7_2_res">&nbsp;</td>
	<td rowspan="6" style="text-align:center;border-width:2px 2px 0 0; border-style:solid;border-color:black;">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 2" id="2_1">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="2_1_res">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 2" id="2_2">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="2_2_res">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border-width:2px 0 0 0; border-style:solid;border-color:black;">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	<td colspan="4"></td>
	<td rowspan="2" style="text-align:center;border-width:0 0 3px 0; border-style:solid;border-color:black;">&nbsp;</td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 11" id="11_1">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="11_1_res">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border-width:0 0 2px 0;border-style:solid;border-color:black;"></td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" colspan="6"></td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" style="text-align:center;border-width:0 0 0 0; border-style:solid;border-color:black;">&nbsp;</td>
	<td></td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 11" id="11_2">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="11_2_res">&nbsp;</td>
	<td rowspan="9" style="text-align:center;border-width:2px 2px 0 0;border-style:solid;border-color:black;"></td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 5" id="5_1">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="5_1_res">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border-width:0 0 2px 0; border-style:solid;border-color:black;">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 5" id="5_2">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="5_2_res">&nbsp;</td>
	<td rowspan="3" style="text-align:center;border-width:2px 2px 0 0; border-style:solid;border-color:black;">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" style="text-align:center;border-width:0 0 3px 0; border-style:solid;border-color:black;">&nbsp;</td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 9" id="9_1">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="9_1_res">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" colspan="2"></td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="3"></td>
	<td rowspan="2" style="text-align:center;border-width:0 0 0 0; border-style:solid;border-color:black;">&nbsp;</td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 9" id="9_2">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="9_2_res">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border-width:0 0 0 0; border-style:solid;border-color:black;">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" colspan="3"></td>
	</tr>

	<tr>
		<td colspan="12"></td>
		<td style="border-width:0 0 2px 0; border-style:solid;border-color:black;">&nbsp;</td>
		<td style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 13" id="13_1">&nbsp;</td>
		<td style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="13_1_res">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="11"></td>
		<td rowspan="12" style="border-width:0 2px 2px 0; border-style:solid;border-color:black;">&nbsp;</td>
		<td style="border-width:2px 0 0 0; border-style:solid;border-color:black;"></td>
		<td style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 13" id="13_2">&nbsp;</td>
		<td style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="13_2_res">&nbsp;</td>
	</tr>

	<tr></tr>

	<tr>
	<td height="6"></td>
	<td style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 3" id="3_1">&nbsp;</td>
	<td style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="3_1_res">&nbsp;</td>
	<td style="text-align:center;border-width:0 0 2px 0; border-style:solid;border-color:black;">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 3" id="3_2">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="3_2_res">&nbsp;</td>
	<td rowspan="6" style="text-align:center;border-width:2px 2px 2px 0; border-style:solid;border-color:black;">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" style="text-align:center;border-width:0 0 2px 0; border-style:solid;border-color:black;">&nbsp;</td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 8" id="8_1">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="8_1_res">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border-width:0 0 2px 0; border-style:solid;border-color:black;">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" colspan="3"></td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" style="text-align:center;border-width:2px 0 0 0; border-style:solid;border-color:black;">&nbsp;</td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 8" id="8_2">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="8_2_res">&nbsp;</td>
	<td rowspan="6" style="text-align:center;border-width:2px 2px 0 0; border-style:solid;border-color:black;">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 4" id="4_1">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="4_1_res">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 4" id="4_2">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="4_2_res">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border-width:2px 0 0 0; border-style:solid;border-color:black;">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	<td colspan="4"></td>
	<td rowspan="2" style="text-align:center;border-width:0 0 3px 0; border-style:solid;border-color:black;">&nbsp;</td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 12" id="12_1">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="12_1_res">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border-width:0 0 0 0;"></td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" colspan="6"></td>
	</tr>
	<tr>
	<td height="6"></td>
	<td></td>
	<td></td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 12" id="12_2">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="12_2_res">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border-width:2px 0 0 0; border-style:solid;border-color:black;"></td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 6" id="6_1">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="6_1_res">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border-width:0 0 2px 0; border-style:solid;border-color:black;">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 6" id="6_2">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="6_2_res">&nbsp;</td>
	<td rowspan="3" style="text-align:center;border-width:2px 2px 0 0; border-style:solid;border-color:black;">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" style="text-align:center;border-width:0 0 3px 0; border-style:solid;border-color:black;">&nbsp;</td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 10" id="10_1">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="10_1_res">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" colspan="2"></td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="3"></td>
	<td rowspan="2" style="text-align:center;border-width:0 0 0 0; border-style:solid;border-color:black;">&nbsp;</td>
	<td rowspan="2" style="border:1px solid #aaa;background-color:#f9f9f9;padding-right:10px;" class="team 10" id="10_2">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border:1px solid #aaa;background-color:#f9f9f9;" id="10_2_res">&nbsp;</td>
	<td rowspan="2" style="text-align:center;border-width:0 0 0 0; border-style:solid;border-color:black;">&nbsp;</td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" colspan="3"></td>
	</tr>
	<tr>
	<td height="6"></td>
	</tr>
	<tr>
	<td height="6"></td>
	<td rowspan="2" colspan="3"></td>
	</tr>
	</tbody></table>

	<br />
</body>
</html>
